<h2>Thank you for your order!</h2>
<small class="text-muted">Your order summary appears below and will also be emailed to <%= @order.email %>.  Please also consider printing this page for your records.</small>

<table>
<tr>
<th>Product Name</th>
<th>Price</th>
</tr>
<% @order.order_items.each do |item| %>
    <tr>
    <th><%= item.product.name %></th>
    <th><%= item.product.price %></th>
    </tr>
<% end %>
</table>