<section class="row">
    <h1>Search for products</h1>
</section>

<div class="row">
    <%= form_tag products_path, url: products_path, method: :get do %>
        <%=text_field_tag :search %>
        <%=submit_tag 'search', name: nil %>
    <% end %>
</div> 


<setion class="row">

<% unless @products.nil? %>
  <% if @products.empty? %>
    <h2>No products found matching your query.</h2>
  <% else %>
        <h2>Results</h2>

    <div class="row"> 
        <%= render @products %>
    </div>
    <% end %>
<% end %>

</setion>
